@media (max-width:1200px){

    .header-logo{
        padding-left: 20px;
    }

    .header-right li{
        display:none;
    }

    .menu-bar{
        display: block;
    }
    
    .first-container{
        padding-left: 20px;
    }


    .first-container h1{
        font-size: 60px;
    }

    .first-container p{
        font-size:20px;
    }

    .first-container .upper-p{
        font-size: 20px;
    }

    .first-container .down-p{
        font-size:20px;
    }

    .content-container{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height:625px;

    }

    .content-container p{
        width:100%;
        font-size:30px;
    }

    .one{
        float:none;
    }

    .two{
        float:none;
    }

    .three{
        float:none;
    }

    .box-container:hover{
        box-shadow: 0px 7px rgba(0,0,0,0.5);
        top:-7px;
        left:0px;
    }

    .box-content p{
        font-size:30px;
        padding:90px 0px;
        float:right;
        width:310px;
    }

    .box-content img{
        margin:100px 60px;
        height:250px;
        float:left;
    }

    .box-content .box-p-second{
        padding-left: 60px;
    }

    .box-content .box-img-second{
        padding-left: 60px;
    }
    
    .content2-container{
        height:1500px;
    }

    .content2-container-left{
        padding:0;
        width:100%;
        text-align:center;
    }

    .content2-container-left p{
        text-align: center;
        margin:0 20px;
    }

    .content2-container-right{
        padding:0;
        margin-top:50px;
        width:100%;
        text-align:center;
    }

    .content2-container-right p{
        text-align: center;
        margin:0 20px;
    }

    .footer-container{
        height:1100px;
    }

    .footer-container-left{
        width:100%;
        text-align: center;
    }

    .footer-container-right{
        color:white;
        width:100%;
        text-align: center;
    }
    
    .footer-container-right p{
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
    
    .footer-container-right li{
        text-align: center;
        padding-top:0px;
        font-size:50px;
    }
    
    .img-container{
        display:inline-block;
        margin:10px auto 0 auto;
    }
}

@media (max-width:809px){

    .header-logo{
        padding-left: 20px;
    }

    .header-right li{
        display:none;
    }
    
    .menu-bar{
        display: block;
    }

    .first-wrapper{
        height:1150px;
    }
    
    .first-container{
        padding-left: 0;
        text-align: center;
    }


    .first-container h1{
        font-size: 40px;
    }

    .first-container p{
        font-size:20px;
    }

    .first-container .upper-p{
        font-size: 20px;
        width: 100%;
    }

    .first-container .down-p{
        font-size:20px;
    }

    .content-container{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height:900px;
    }

    .content-container p{
        width:100%;
        font-size:25px;
    }

    .btn-content-container-inner{
        width:100%;
    }

    .one{
        float:none;
    }

    .two{
        float:none;
    }

    .three{
        float:none;
    }

    .box-container{
        height:10%;
        width:100%;
        max-width: 1170px;
        margin:80px auto;
        position: relative;
        text-align: center;
    }

    .box-container:hover{
        box-shadow: 0px 7px rgba(0,0,0,0.5);
        top:-7px;
        left:0px;
    }

    .box-content p{
        padding: 10px;
        margin:50px auto;
        font-size:25px;
        float:right;
        width:100%;
    }

    .box-content img{
        height:250px;
        margin:0;
        padding:0;
        display: inline-block;
        text-align: center;
    }

    .box-content .box-p-second{
        padding:10px;
    }

    .box-content .box-img-second{
        margin:0;
        padding:0;
    }

    .box-content h2{
        font-size:50px;
    }

    .content2-container{
        height:1950px;
    }

    .content2-container img{
        width:100%;
    }

    .content2-container-right h2{
        font-size:35px;
    }

    .content2-container-left h2{
        font-size:35px;
    }


    .content2-container-left{
        padding:0;
        width:100%;
        text-align:center;
    }

    .content2-container-left p{
        font-size: 20px;
        text-align: center;
        margin:0 20px;

    }

    .content2-container-right{
        padding:0;
        margin-top:50px;
        width:100%;
        text-align:center;
    }

    .content2-container-right p{
        text-align: center;
        margin:0 20px;
    }

    .footer-container{
        height:1100px;
    }

    .footer-container-left{
        width:100%;
        text-align: center;
    }

    .footer-container-left h1{
        font-size: 30px;
        width: 100%;
        padding-right: 0 5px;
    }

    .footer-container-left p{
        font-size: 16px;
        margin-bottom: 10px;
    }

    input, textarea{
        margin:10px 0;
        width:100%;
    }

    .footer-container-right{
        color:white;
        width:100%;
        text-align: center;
    }
    
    .footer-container-right p{
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
    
    .footer-container-right li{
        text-align: center;
        padding-top:0px;
        font-size:50px;
    }
    
    .img-container{
        display:inline-block;
        margin:10px auto 0 auto;
    }
}